body {
    background-color: #DAB88B;
}
.my-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 120px;
    margin-bottom: 20px;
}

.has-blue-background {
    background-color: #FFEEEE;
    border: 1px solid #FFF6EA;
}

.has-yellow-background {
    background-color: #F7E9D7;
    border: 1px solid #EBD8C3;
}